{% extends "base.html" %}

{% block title %} About {% endblock title %}


{% block body %}
<div class="container-fluid my-4 px-4" >
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/portal_measurements_nature_3628_1600x900.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/silhouette_screen_light_214695_1600x900.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/book_sphere_magic_sorcery_46753_1600x900.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>



<div class="text-center">
    <div class="center">
        <h3>About Us</h3>
        <p> Magic is the application of beliefs, rituals or actions employed in the belief that they can subdue or manipulate natural or supernatural beings and forces. It is a category into which have been placed various beliefs and practices sometimes considered separate from both religion and science. Being a secretive art , it has gained huge popularity in India . Magician Saransh is a well known magician with several TV appearances and a gazillion of shows pan India. We are a Show Business Company who book shows for Magician Saransh </p>
    </div>
        <div class="center">
        <ul class="list-unstyled footer_contact_info">

            <li>To Know More About Us reach out to us here</li>
            

            <li><a><span class="fa fa-map-marker" ></span><p>Customer care (Toll free) :- 9437542374 </p></a></li>
            <li><a><span class="fa fa-map-marker"></span><p>Email:- dassaransh@gmail.com</p></a></li>
            <li>Office Address :-  <a href="https://www.google.com/search?q=lpu+address&rlz=1C1RLNS_enIN854IN854&oq=lpu+address&aqs=chrome..69i57j0i22i30l9.3705j0j15&sourceid=chrome&ie=UTF-8"><span class="fa fa-phone"></span><p> UNI-MALL , 4TH FLOOR , LOVELY PROFESSIONAL UNIVERSITY,JALANDHAR,PUNJAB.</p></a></li>
            <li><a ><span class="fa fa-envelope"></span><p>Contact Time: Mon - Sun : 7AM - 9PM</p></a></li>
        </ul>

        
    </div>
</div>
</div>

{% endblock body %}

