{% extends "base.html" %}

{% block title %} Services {% endblock title %}


{% block body %}


<section id="service">
    <div class="container">
        <h2 >Services We Offer</h2>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service_item">
                    <div class="service_photo">
                        <img src="/static/img/11 (1).jfif" alt="Program" />
                        <div class="photo_overlay"></div>						
                    </div>
                    <div class="service_caption">
                        <h4><a target="blank" href="https://www.instagram.com/tv/COWv6XcFYGd/?utm_source=ig_web_copy_link" style="text-decoration:none" >Close-up Black Magic</a></h4>
                        <p>by Saransh Das, Jan 15, 2021</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_item">
                    <div class="service_photo">
                        <img src="/static/img/11 (2).jfif" alt="Program" />
                        <div class="photo_overlay"></div>						
                    </div>
                    <div class="service_caption">
                        <h4><a target="blank" href="https://www.instagram.com/reel/CQU7CTeFgjJ/?utm_source=ig_web_copy_link" style="text-decoration:none">Close-up House Party</a></h4>
                        <p>by Saransh, Jun 15, 2020</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_item">
                    <div class="service_photo">
                        <img src="/static/img/11 (3).jfif" alt="Program" />
                        <div class="photo_overlay"></div>						
                    </div>
                    <div class="service_caption">
                        <h4><a target="blank" href="https://www.instagram.com/tv/B5iqUdeJC_2/?utm_source=ig_web_copy_link" style="text-decoration:none">Auditorium Stage</a></h4>
                        <p>by Saransh, oct 24, 2019</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_item">
                    <div class="service_photo">
                        <img src="/static/img/11 (4).jfif" alt="Program" />
                        <div class="photo_overlay"></div>						
                    </div>
                    <div class="service_caption">
                        <h4><a target="blank" href="https://www.instagram.com/tv/B3WIt6UAC1n/?utm_source=ig_web_copy_link" style="text-decoration:none">Close-up Stage</a></h4>
                        <p>by Saransh, Sept 25, 2018</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_item">
                    <div class="service_photo">
                        <img src="/static/img/11 (5).jfif" alt="Program" />
                        <div class="photo_overlay"></div>						
                    </div>
                    <div class="service_caption">
                        <h4><a target="blank" href="https://www.instagram.com/tv/CA2v1jGg1aC/?utm_source=ig_web_copy_link" style="text-decoration:none">Stage at the Magic Castle</a></h4>
                        <p>by Saransh, Aug 25, 2021</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service_item">
                    <div class="service_photo">
                        <img src="/static/img/11 (6).jfif" alt="Program" />
                        <div class="photo_overlay"></div>						
                    </div>
                    <div class="service_caption">
                        <h4><a target="blank" href="https://www.instagram.com/tv/CNhV8IpFleX/?utm_source=ig_web_copy_link" style="text-decoration:none" >Fantasy Virtual</a></h4>
                        
                        <p>by Saransh, Feb 11, 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}

